body {
	background-color: #77ab59;
	font-family: 'Press Start 2P', cursive;
}

.Root {
	text-align: center;
}

.CanvasWrapper {
	padding: 15px 15px 70px 15px;
	background-color: white;
	width: 400px;
	height: 400px;
	margin: auto;
	box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

.Message {
	
}