body {
	background-color :#8a00ff;
	font-family: 'Press Start 2P', cursive;
	color: #f500ff;
}

.ScoreTable {
	display: inline-block;
}

.CanvasWrapper {
	padding: 15px 15px 70px 15px;
	background-color: white;
	width: 800px;
	height: 800px;
	box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.Message {
	font-size: 26px;
	background: -webkit-linear-gradient(#f500ff, #6700ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}